<!DOCTYPE html>
<html lang="uk">
<head>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0"
       style="margin:0; padding:0; height: 200px; background-color: #00a3c6;" width="100%">
    <tr>
        <td height="100%" style="text-align: center">
            <p style="text-align: center; color: #ffffff; font: 24px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;">Дякуємо за Ваше звернення</p>
            <p style="text-align: center; color: #ffffff; font: 18px Arial, sans-serif; line-height: 1.2; -webkit-text-size-adjust:none; display: block;">Ваше питання буде розглянуте найближчим часом</p>
        </td>
    </tr>
</table>


</body>
</html>
